.subscription-page {
  --background: #ffffff;
  font-size: 13px;
}

.top-bar {
  background: #e6c35a;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  .left {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
  }

  .right ion-icon {
    margin-left: 10px;
    font-size: 18px;
  }
}

.section-title {
  font-weight: 600;
  margin: 12px 0 6px;
}

.plan-card {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 12px;

  .plan-top {
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  .status {
    margin-left: auto;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 11px;

    &.expired {
      background: #f2f2f2;
      color: #555;
    }
  }

  .plan-bottom {
    margin-top: 4px;
    font-size: 12px;
  }
}

.renew-card {
//  border: 1px solid #d4b24c;
  background: #f5f4f3;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 12px;

  .renew-header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 6px;
  }

  .renew-body {
    label {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 6px;

      .price {
        margin-left: auto;
        font-weight: 600;
      }
    }

    input {
      width: 100%;
      padding: 6px;
      border-radius: 4px;
      border: 1px solid #aaa;
      margin: 6px 0 2px;
    }

    small {
      display: block;
      font-size: 11px;
    }

    .note {
      font-size: 10px;
      margin-top: 4px;
    }
    .user-row {
      display: flex;
      align-items: center;
      // gap: 8px;
      // margin: 6px 0;
      gap: 6rem;

      input {
        width: 90px;
        height: 28px;
        padding: 2px 6px;
        font-size: 12px;
        border-radius: 4px;
        border: 1px solid #777;
      }

      .inline-text {
        font-size: 11px;
        white-space: nowrap;
      }
    }

  }
}

.promo-row {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.promo-row ion-input {
  border: 1px solid #2f2f2f;
  border-radius: 4px;
  --padding-start: 8px;
  background: #fff;
}

.promo-row ion-button {
  --background: #e2be63;
  color: #000;
  font-size: 12px;
}

.payment-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 14px;

  .pay-btn {
    --background: #d4b24c;
    color: #000;
  }

  .amount {
    flex: 1;
    font-size: 12px;
  }

  .price-final {
    font-weight: 700;
  }
}
.list-icon {
  font-size: 18px !important;
  color: #000 !important;
  opacity: 1 !important;
  display: inline-block !important;
  visibility: visible !important;
  cursor: pointer;
}

.list-icon:active {
  transform: scale(0.9);
}