<!-- 🔔 Purchase Plan Log Card -->
<ion-content class="ion-padding">
  <div class="page-header">
    <ion-icon
      name="arrow-back-outline"
      class="back-arrow"
      (click)="dismiss()">
    </ion-icon>
    <h6 class="section-title">Purchase Plan Log</h6>
  </div>
  
  <!-- Monthly Plan -->
  <div class="plan-card">
    <div class="plan-top">
      <span class="plan-name">Monthly Plan</span>
      <span class="status expired">Expired</span>
    </div>

    <div class="plan-bottom">
      <span>Expired on 06/11/2025</span>
      <span><b>Amount Paid</b> &nbsp; Rs. 531</span>
    </div>
  </div>

  <!-- Weekly Plan -->
  <div class="plan-card">
    <div class="plan-top">
      <span class="plan-name">Weekly</span>
      <span class="trial">7 Days Trial Free</span>
      <span class="status expired">Expired</span>
    </div>

    <div class="plan-bottom">
      <span>Expired on 05/11/2025</span>
      <span><b>Amount Paid</b> &nbsp; Rs. 531</span>
    </div>
  </div>

</ion-content>